* {
    font-family: 'Ubuntu', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

.bold_text {
    font-weight: bold;
}

#logo_image {
    height: 60px;
    width: 60px;
    margin-left: 1%;

}

#login {
    margin-right: 2%;
}

.footer_social_media_images {
    height: 20px;
    width: 22px;
}

body {
    height: 100%;
    width: 100%;
    background-color: #e0e0e0;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

footer * {
    margin-top: 0%;
    margin-bottom: 0%;
}



#search_city_input {
    background-color: #f1f1f1;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    width: 300px;
}

header, footer {
    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;

}

footer {
    bottom: 0%;
}

header {
    top: 0%;
}

#social_media_group {
    order: 1;
    margin-right: 10px;
}

#copyright {
    
    font-size: 12px;
}

#contact_us {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    text-decoration: none;
}

#view_more_link {
    text-align: center;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

#submit_button_modal {
    justify-content: flex-end;
}
#username_div, #password_div {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}