.hotel_images {
    width: 150px;
    height: 150px;
    border-radius: 25%;
}


#search_bar {
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}





.city_cards {
    /* border: 2px solid red; */
   padding: 4%;
   display: inline-block;
   margin: 0;
}

#card_group {
    margin-left: 15%;
    margin-right: 15%;
}