.list_hotel_images {
    height: 200px;
    width: 250px;
}

.list_view_cards {
   background-color: lightgrey;
   
   /* width: 40%; */
   display: flex;
   max-height: 200px;
    min-width: 35%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

#map-view {
    display: none;
}

#list-view {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 2%;
    align-content: center;
}

#list_links {
    text-align: center;
    margin-top: 10px;
}



#list_view_link {
    margin-right: 20px;
    font-weight: bold;
   
}

#map_view_link {
    margin-left: 20px;
    font-weight: bold;
}

.list_view_description {
    margin-left: 20px;
    margin-right: 20px;
}

