#loader_image {
    height: 70px;
    width: 70px;
    border:12px solid #f3f3f3;
    border-radius: 50%;
    margin: 20% auto;
    border-top-color: #444444;
    animation-name: loader;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1s;

}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg); 
    }
}