.payment_hotel_images {
   
    max-height: 300px;
    
}

#main_container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
}

#inner_container {
    background-color: rgb(132, 136, 139);
    /* Making display as flex */
    display: flex;
    flex-direction: row;
    /* Border */
    /* border: 1px solid green; */
    
    /* Margin */
    margin-left: 5%;
    margin-right: 5%;
    /* Maximum width can be width of main container */
    max-width: 100%;
}

#inner_payment_container {
    /* Making Display flex */
    display: flex;
    flex-direction: row;
    /* Border */
    border: 1px solid black;
    border-radius: 15px;
    /* Margin */
    margin-left: 5%;
    margin-right: 5%;
    /* Maximum width can be width of main container */
    max-width: 100%;
}

.font_cursive {
    font-family: cursive;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    /* Justyfing content of main container to be flex start */
    #main_container {
        justify-content: flex-start;
    }

    /* Adding top and bottom margin to contents of main container */
    #inner_container, #inner_payment_container {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    /* Providing left margin to hotel_description to create space bwetween iamge and text and reducing font size*/
    .payment_hotel_description {
        margin-left: 3%;
        font-size: 16px;
    }

    /* Overiding font size of h2 */
    .payment_hotel_description h2 {
        font-size: 28px;
    }

    /* Justifying and aligning content of inner_payment_container and reducing font-size */
    #inner_payment_container {
        justify-content: space-around;
        align-items: center;
        font-size: 12px;
    }
}   

/* Minimum width */
@media screen and (max-width: 576px) {
    /* Justyfing content of main container to be flex start */
    #main_container {
        justify-content: flex-start;
    }
    
    /* Making inner container as flexible wrap to allow proper placement of image div and description text */
    #inner_container {
        flex-wrap: wrap;
        
    }

    /* Image container cannot exeed maximum width of inner container */
    .image_container {
        max-width: 100%;
    }

    /* Image cannot exeed maximum width of iamge div */
    .payment_hotel_images {
        max-width: 100%;
    }


    /* description text cannot exeed maximum width of inner container */
    .payment_hotel_description {
        max-width: 100%;
    }

   /* Providing top and bottom margin to inner container and description text */
   .image_container, .payment_hotel_description {
       margin: 2% 0;;
   }

   /* Making .payment_hotel_description as box border to give padding */
   .payment_hotel_description {
       box-sizing: border-box;
       padding: 2%;
   }

   /* Providing top and bottom margin to contents of main container */
   #inner_container, #inner_payment_container {
       margin-top: 2%;
       margin-bottom: 2%;
   }
    
   /* Allowing flex wrap for inner_payment_container */
   #inner_payment_container {
       flex-wrap: wrap;
       /* Reducing font size */
       font-size: 14px;
       /* Justifying content to center */
       justify-content: space-between;
       /* Making inner payment container box border to give padding */
       box-sizing: border-box;
       padding: 2%;
   }

}

/* Maximum width */
@media screen and (min-width: 769px) {
    #main_container {
        justify-content: space-evenly;
        
    }

    /* Creating space between text and image in inner container */
    .payment_hotel_description {
        margin-left: 3%;
    }

    /* Justifying content of inner_payment container */
    #inner_payment_container {
        justify-content: space-around;
        /* Aligning items to be in center */
        align-items: center;
    }

    
}